<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>
    
    @model SurveyForm
    <form asp-controller = "Index", asp-action="Login", method="POST">

        <label asp-for="UserName"></label>
        <span class = "error" asp-validation-for="UserName"></span>
        <input asp-for="UserName" class = "form-control">
        


        <label asp-for="Location"></label>
        <span class = "error" asp-validation-for="Location"></span>
        <select asp-for="Location" class="form-control form-control-lg" >
            @{
                List<string> places = new List<string>
                    {
                        "Chicago", "The Shire", "Hell"
                    };
            }
            <option value = ""></option>
            @{
                foreach(string place in places)
                {
                    string here = @place;
                    <option value =" @here">@here</option>;
                }
            }
        </select>

        <label asp-for="Language"></label>
        <span class = "error" asp-validation-for="Language"></span>
        <select asp-for="Language" class="form-control form-control-lg">
            @{
                List<string> langs = new List<string>
                    {
                        "Python", "JavaScript", "Body Language"
                    };
            }
            <option value = ""></option>
            @{
                foreach(string language in langs)
                {
                    <option value = "@language">@language</option>;
                }
            }

        </select>
        <label asp-for="Comment"></label>
        <textarea asp-for="Comment" type="textarea" class="form-control" rows = "3" ></textarea>  
        <button type="submit" class = "btn btn-primary">Submit</button>

    </form>
    
    
</body>
</html>