<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div id="container">

        
        <h3>Submitted Info:</h3>
        @model DojoSurvey.Models.SurveyForm
        <p><span class = "field">Name:</span>        <span class = "value">@Model.Name</span></p>
        <p><span class = "field">Location:</span>    <span class = "value">@Model.Location</span></p>
        <p><span class = "field">Language:</span>    <span class = "value">@Model.Language</span></p>
        <p><span class = "field">Comments:</span>    <span class = "value">@Model.Comment</span></p>
        <a href = "/"><button class = "btn btn-primary">Go Back</button></a>
    </div>
</body>
</html>